body {
  background-color: red;
}
li {
  border-color: black !important;
}
.container {
  margin-top: 15px;
  margin-bottom: 15px;
}

.container-fluid {
  background-color: red;
}
.card {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .col-4 {
    width: 100% !important;
  }
  .row {
    --bs-gutter-x: 0rem !important;
  }
}
